<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisteredDefaults</key>
	<dict>
		<key>CHighlightNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CHighlightNoteOpacity</key>
		<integer>1</integer>
		<key>CUnderlineNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CUnderlineNoteOpacity</key>
		<integer>1</integer>
		<key>CStrikeOutNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CStrikeOutNoteOpacity</key>
		<integer>1</integer>
		<key>CSquigglyNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CSquigglyNoteOpacity</key>
		<integer>1</integer>
		<key>CInkNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CInkNoteOpacity</key>
		<integer>1</integer>
		<key>CInkNoteLineWidth</key>
		<integer>10</integer>
		<key>CInkNoteLineStyley</key>
		<integer>0</integer>
		<key>CInkNoteDashPattern</key>
		<integer>5</integer>
		<key>CFreeTextNoteFontName</key>
		<string>Helvetica</string>
		<key>CFreeTextNoteFontSize</key>
		<integer>12</integer>
		<key>CFreeTextNoteFontColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CFreeTextNoteAlignment</key>
		<integer>0</integer>
		<key>CFreeTextNoteOpacity</key>
		<integer>1</integer>
		<key>CFreeTextNoteLineStyle</key>
		<integer>0</integer>
		<key>CFreeTextNoteLineWidth</key>
		<integer>10</integer>
		<key>CFreeTextNoteDashPattern</key>
		<integer>5</integer>
		<key>CAnchoredNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CAnchoredNoteOpacity</key>
		<integer>1</integer>
		<key>CAnchoredNoteIconType</key>
		<integer>2</integer>
		<key>CCircleNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CCircleNoteOpacity</key>
		<integer>1</integer>
		<key>CCircleNoteInteriorColor</key>
		<data></data>
		<key>CCircleNoteInteriorOpacity</key>
		<integer>0</integer>
		<key>CCircleNoteLineWidth</key>
		<integer>10</integer>
		<key>CCircleNoteLineStyle</key>
		<integer>0</integer>
		<key>CCircleNoteDashPattern</key>
		<integer>5</integer>
		<key>CSquareNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CSquareNoteOpacity</key>
		<integer>1</integer>
		<key>CSquareNoteInteriorColor</key>
		<data></data>
		<key>CSquareNoteInteriorOpacity</key>
		<integer>0</integer>
		<key>CSquareNoteLineWidth</key>
		<integer>10</integer>
		<key>CSquareNoteLineStyle</key>
		<integer>0</integer>
		<key>CSquareNoteDashPattern</key>
		<integer>5</integer>
		<key>CLineNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CLineNoteOpacity</key>
		<integer>1</integer>
		<key>CLineNoteLineWidth</key>
		<integer>10</integer>
		<key>CLineNoteLineStyle</key>
		<integer>0</integer>
		<key>CLineNoteDashPattern</key>
		<integer>5</integer>
		<key>CArrowNoteColor</key>
		<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwdHlUkbnVsbNkNDg8QERITFBUWFxgXGRobGBxfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQl8QEVVJU3lzdGVtQ29sb3JOYW1lViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI/gAAAIgAAAABFMCAxIDCAAoADEAJaZ3JlZW5Db2xvctMfICEiIyVaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoiIkWE5TT2JqZWN0oSZXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAHEAiQCRAJgAoACmALoAwQDHANQA1gDbAOAA5gDoAOoA7AD3AP4BCQESAR4BJgEpATIBNAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAE8</data>
		<key>CArrowNoteOpacity</key>
		<integer>1</integer>
		<key>CArrowNoteLineWidth</key>
		<integer>10</integer>
		<key>CArrowNoteLineStyle</key>
		<integer>0</integer>
		<key>CArrowNoteStartStyle</key>
		<integer>0</integer>
		<key>CArrowNoteEndStyle</key>
		<integer>1</integer>
		<key>CLineNoteEndStyleKey</key>
		<integer>0</integer>
		<key>CLineNoteStartStyleKey</key>
		<integer>0</integer>
		<key>CArrowNoteDashPattern</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
